.trustedby{
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
    
    .container{
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        color: rgb(187, 183, 183);
        span{
            font-weight: 900px;
            font-size: 18px;
        }
        img{
            height: 70px;
            object-fit: contain;
        }
    }
}